* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #fff;
  font-family: Montserrat, sans-serif;
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1190px;
  margin-inline: auto;
  padding-inline: 30px;
}
body {
  background: #121517;
}
h1 {
  font-size: clamp(1.25rem, 0.114rem + 5.68vw, 4.375rem);
  font-weight: 800;
  /* line-height: 87.58px; */
  letter-spacing: -0.03em;
}
h1 span {
  font-size: clamp(1.25rem, 0.114rem + 5.68vw, 4.375rem);
  font-weight: 800;
  /* line-height: 87.58px; */
  letter-spacing: -0.03em;
  background: linear-gradient(263.46deg, #237249 3.14%, #35c66b 87.2%);
  color: transparent;
  background-clip: text;
}
h2 {
  font-size: clamp(1rem, 0.636rem + 1.82vw, 2rem);
  font-weight: 500;
}
button {
  padding: 8px 50px;
  border-radius: 32px;
  color: white;
  border: none;
  font-size: clamp(0.625rem, 0.307rem + 1.59vw, 1.5rem);
  background: linear-gradient(265.23deg, #237249 6.79%, #35c66b 97.2%);
  font-size: clamp(0.625rem, 0.307rem + 1.36vw, 1.375rem);
  font-weight: 539;
  line-height: 35.15px;
  letter-spacing: -0.02em;
  transition: 0.8s;
}
button:hover {
  transform: scale(1.1);
  background: #121517;
  border: 1px solid white;
}
p {
  font-size: clamp(0.5rem, 0.227rem + 1.36vw, 1.25rem);
  font-weight: 400;
  /* line-height: 32.69px; */
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.827);
}
/* HEADER */
#header {
  padding-block: 20px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}
.header h3 {
  font-size: clamp(1rem, 0.568rem + 2.16vw, 2.188rem);
  background: linear-gradient(263.46deg, #237249 3.14%, #35c66b 87.2%);
  color: transparent;
  background-clip: text;
  font-weight: 800;
}

.header h1 span {
  font-size: clamp(1.031rem, 0.554rem + 2.39vw, 2.344rem);
  font-weight: 800;
  line-height: 41.16px;
  letter-spacing: -0.03em;
}
/* HEADER */
/*! <--------------------> */
/* CAFE */
#cafe {
  padding-block: 50px;
}
.cafe {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.cafe-text {
  max-width: 560px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.btn {
  display: flex;
  gap: 15px;
}
.k {
  display: flex;
  gap: 65px;
  h1 {
    font-weight: 400;
    font-size: clamp(1.125rem, 0.17rem + 4.77vw, 3.75rem);
    span {
      font-weight: 400;
    }
    p {
      line-height: 29px;
    }
  }
}

.image img {
  width: 90%;
}
/* CAFE */
